html{
  height: 100vh;
}
.free-test {
  min-width: 100%;
  max-width: 100% ;
  height: 100%;
  margin: 0 auto;
  font-family: "Rowdies", cursive;
  font-size: 0.8rem;
  background-color: rgb(252, 254, 255);
}
h1 {
  color: rgb(0, 140, 255);
}
h3 {
  font-size: 2.8vh;
}
h4,
label {
  font-size: 2.2vh;
}
.test-part {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.image-situation {
  height: 50vh;
  width: 65vw;
}
.situation {
  color: rgb(37, 71, 121);
}
.questions {
  background-color: #efefef;
  -webkit-box-shadow: 0 0 2px 1px rgb(4, 64, 112);
  -moz-box-shadow: 0 0 2px 1px rgb(4, 64, 112);
  box-shadow: 0 0 2px 1px rgb(4, 64, 112);
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding: 1vw;
}
.check-box {
  background-color: #c9daf0;
  -webkit-box-shadow: 0 0 2px 1px rgb(4, 64, 112);
  -moz-box-shadow: 0 0 2px 1px rgb(4, 64, 112);
  box-shadow: 0 0 2px 1px rgb(4, 64, 112);
  padding: 1vw;
}
.next-button {
  width: 12vw;
}

.feedbackQuestion {
  color : red;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  display: flex;
  flex: 1;
  justify-content: start;
}

@media only screen and (min-width: 600px) {
  .questions,
  .situation {
    margin-left: 80px;
    margin-right: 0;
  }
  .check-box {
    margin-left: 0;
  }
}
.feedbackQuestion {
  color: red;
  display: flex;
  flex: 1;
  justify-content: start;
}