.first-image {
  min-width: 100vw;
  height: 40vh;
}
.driver-card {
  position: absolute;
  bottom: 200px;
  left: -150px;
  color: #fd8a5e;
  width: 20vw;
  height: 14vh;
}
.card-text {
  color: #019286;
  font-family: "Oxygen", sans-serif;
}
.card-title {
  font-size: 1.3vw;
}
