.practice-pic {
<<<<<<< HEAD
  width: 5vw;
=======
  width: 15vw;
>>>>>>> development
}
.practice-text {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
=======
  font-family: "Oxygen", sans-serif;
>>>>>>> development
}
h1 {
  color: #fd8a5e;
}
h5 {
  color: #ff598f;
}
<<<<<<< HEAD
=======
.driver-card {
  font-size: 1vw;
}
>>>>>>> development
