.third-part {
  height: 100%;
  margin: 0;
  font-family: "Rowdies", cursive;
  background-color: #AED6F1   ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.practice-text {
  color: rgb(51, 86, 95);
  font-weight: 700;
  margin: 20px;
}
.practice-pic:hover {
  box-shadow: 20px 20px 20px rgb(78, 132, 146);
  position: relative;
  width: 35%;
  height: auto;
  display: block;
  z-index: 999;
}
